body {
    margin: 0;
    background: #f2f2f2;
    font-family: sans-serif;
  }

  .hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: flex-start;

    /* Text styles */
    text-align: center;
    color: white; /* ADD THIS LINE */


    /* Background styles */
    background-image: url(https://fs.bitcoinmagazine.com/img/images/blockhain_gaming.original.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }

    .hero h1 {
        /* Text styles */
        font-size: 5em;

        /* Margins */
        margin-top: 0;
        margin-bottom: 0.5em;
    }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }          
  
  .center {
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: black;
  }
  
  .formcenter {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .firstdiv{
    float:left;
  } 

  .seconddiv{
    float:right;
  }

  .hero-image {
    background-image: url("https://fs.bitcoinmagazine.com/img/images/blockhain_gaming.original.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

 
  .container {
    display: flex;
  }
  .container > div {
    flex: 1; /*grow*/
  }



*
{
    outline: none;
}

html, body
{
    height: 12%;
    min-height: 12%;
}


.tb
{
    display: table;
    width: 50%;
}

.td
{
    display: table-cell;
    vertical-align: middle;
}

input, button
{
    color: #fff;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}


form
{
    height: 20px;
}

input[type="text"]
{
    width: 200px;
    height: 20px;
    font-size: 15px;
    line-height: 1;
}

input[type="text"]::placeholder
{
    color: gray;
}






