<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GameSquare-About</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='About.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='basics.css')}}">
    <script>
        let Arjun = new Developer(1, "I am Arjun Singh", "ECE", "engagement metric, rating page, unit tests, Reddit data scraping", "4");
        let Blake = new Developer(2, "I am an Electrical Engineering major at the University of Texas", "ECE", "MySQL database, data scraping (games), games page, GCP", "6");
        let Rabia = new Developer(3, "When I am not coding, I like going hiking", "ECE", "user stories, data scraping (games), games page", "0");
        let Wenran = new Developer(4, "I am a good dog walker", "ECE", "about page, consoles page, compare page, unit tests, data scraping (consoles)", "6");
        let Yinghong = new Developer(5, "I am Yinghong Liu", "ME", "home page, 15 static pages", "0");

        $(document).ready(apiRequest(Arjun,Blake,Rabia,Wenran,Yinghong));
    </script>
    <style 
<style>
img {
  border-radius: 50%;
}

.element{
     padding: 20px;
     display: table-cell;
}

hr{
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
  }

.smallerText{
    font-size: 14px;
}

.center{
    justify-content: center;
}

</style>
</head>
<body>

<div class="topnav">
  <a href="{{url_for('home')}}">Home</a>
  <a href="{{url_for('consoles')}}">Consoles</a>
  <a href="{{url_for('index')}}">Search Games</a>
  <!--<a href="{{url_for('games')}}">Games</a>-->
  <a href="{{url_for('rating')}}">Rating</a>
  <a class="active" href="{{url_for('about')}}">About</a>
</div>

<div align = "center">
    <h1>About us</h1>
    <br>
    <p> This is a reference website that provides information about consoles and games</p>
    <p> You can discover trending consoles and games based on their ratings</p>
    <p> You can also compare the tech specs of any two consoles</p>
    <p> This website is designed for amateur gamers looking for a good console or a game</p>
    <br>

    <hr>

    <br>
    <h2>Team Copper</h2>
</div>
    <div class="element-grid" align="center" id="member">
        <div id="arjun" class="element">
    <h3>Arjun Singh</h3>
    <img src="{{ url_for('static',filename='image/arjun.jpg') }}" style="cursor:pointer" id="one" onclick=Arjun.printBio() width="100" height="100">
        </div>
        <div id="blake" class="element">
    <h3>Blake Gardner</h3>
    <img src="{{ url_for('static',filename='image/blake.jpg') }}" style="cursor:pointer" id="two" onclick=Blake.printBio() width="100" height="100">
        </div>
        <div id="rabia" class="element">
    <h3>Rabia Khan</h3>
    <img src="{{ url_for('static',filename='image/rabia.jpg') }}" style="cursor:pointer" id="three" onclick=Rabia.printBio() width="100" height="100">
        </div>
        <div id="wenran" class="element">
    <h3>Wenran Lu</h3>
    <img src="{{ url_for('static',filename='image/wenran.jpg') }}" style="cursor:pointer" id="four" onclick=Wenran.printBio() width="100" height="100">

        </div>
        <div id="yinghong" class="element">
    <h3>Yinghong Liu</h3>
    <img src="{{ url_for('static',filename='image/yinghong.jpg') }}" style="cursor:pointer" id="five" onclick=Yinghong.printBio() width="100" height="100">

        </div>
        <p id="p1">Click our avatars</p>
        <p id="p2">We will tell you more about our: </p>
        <p id="p3">responsibilities in this project</p>
        <p id="p4">personal bio</p>
        <p id="p5">github contributions</p>
        <p id="p6">and more</p>
    </div>
    <hr>
    <br>
    <div align="center">
    <table>
        <tr>
            <td style="padding:4px;vertical-align: top;">
                <div align="center" style="vertical-align: top;">
    <h3>Development Statistics</h3>
    <p class="smallerText" id="totalCommits">Total number of commits: </p>
    <p class="smallerText" id="totalIssues">Total number of issues: </p>
    <p class="smallerText">Total number of unit tests: ~16</p>
</div>
</td>
<td style="padding:4px;vertical-align: top;">
<div align="center" style="vertical-align: top">
    <h3>Data Sources</h3>
        <a class="smallerText" href = "https://www.nintendo.com">Nintendo Switch</a>
        <a class="smallerText" href = "https://www.xbox.com">XBOX</a>
        <a class="smallerText" href = "https://www.playstation.com">Play Station</a>
        <p class="smallerText">Scraped using Python and BeautifulSoup library</p>
    </div>
 </td>
 <td style="padding:4px;vertical-align: top;">
    <div align="center" style="vertical-align: top;">
    <h3>Development Tools</h3>
    <p class="smallerText">Flask used for microframework</p>
    <p class="smallerText">unittest used for Python unit tests</p>
    <p class="smallerText">MySQL used for backend database</p>
    <p class="smallerText">JQuery and Bootstrap used for front-end</p>
    <p class="smallerText">Selenium used to test user interface</p>
</div>
</td>
</tr>
</table>
    <br>
    <hr>
    <br>
    <h3>
        <a href = "https://github.com/ArjunSingh1/SoftwareLab.git">GitHub Repository</a>
    </h3>
    </div>
</body>
</html>
