<!DOCTYPE html>
<html lang = "en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>About</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        var blake = 0;
        var rabia = 0;
        var arjun = 0;
        var wenran = 0;
        var yinghong = 0;
        var blakeC = 0;
        var rabiaC = 0;
        var arjunC = 0;
        var wenranC = 0;
        var yinghongC = 0;
        $(document).ready(function(){
                var api = "https://api.github.com/repos/ArjunSingh1/SoftwareLab/issues";
                $.get(api, function (data) {
                    $.each(data, function (idx, obj) {
                        if(obj.user.login == "rabiakhan713"){
                            rabia++;
                        } else if(obj.user.login == "wenranlu"){
                            wenran++;
                        } else if(obj.user.login == "Bgardner4"){
                            blake++;
                        } else if(obj.user.login == "YinghongLIU"){
                            yinghong++;
                        } else if(obj.user.login == "ArjunSingh1"){
                            arjun++;
                        }
                    });
                    var total = arjun + rabia + blake + yinghong + wenran;
                    $("#totalIssues").append(total);
                });
                api = "https://api.github.com/repos/ArjunSingh1/SoftwareLab/contributors"
                $.get(api, function (data) {
                    $.each(data, function (idx, obj) {
                        if(obj.login == "rabiakhan713"){
                            rabiaC += obj.contributions;
                        } else if(obj.login == "wenranlu"){
                            wenranC += obj.contributions;
                        } else if(obj.login == "Bgardner4"){
                            blakeC += obj.contributions;
                        } else if(obj.login == "YinghongLIU"){
                            yinghongC += obj.contributions;
                        } else if(obj.login == "ArjunSingh1"){
                            arjunC += obj.contributions;
                        }
                    });
                    var totalC = arjunC + rabiaC + blakeC + yinghongC + wenranC;
                    $("#totalCommits").append(totalC);
                });
        });
    </script>
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  margin:0;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 21px;
  text-decoration: none;
  font-size: 17px;
}

.topnav p{
    float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-family:impact;
  color:#4CAF50;
  padding-top:0px;
  padding-bottom:0px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

img {
  border-radius: 50%;
}

.element{
     padding: 20px;
     display: table-cell;
}

hr{
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
  }

.smallerText{
    font-size: 14px;
}

.center{
    justify-content: center;
}

</style>
</head>
<body>

<div class="topnav">
  <a href="{{url_for('home')}}">Home</a>
  <a href="{{url_for('consoles')}}">Consoles</a>
  <a href="{{url_for('index')}}">Search Games</a>
  <!--<a href="{{url_for('games')}}">Games</a>-->
  <a href="{{url_for('rating')}}">Rating</a>
  <a class="active" href="{{url_for('about')}}">About</a>
</div>

<div align = "center">
    <h1>About us</h1>
    <br>
    <p> This is a reference website that provides information about consoles and games</p>
    <p> You can discover trending consoles and games based on their ratings</p>
    <p> You can also compare the tech specs of any two consoles</p>
    <p> This website is designed for amateur gamers looking for a good console or a game</p>
    <br>

    <hr>

    <br>
    <h2>Team Copper</h2>
</div>
    <div class="element-grid" align="center" id="member">
        <div class="element">
    <h3>Arjun Singh</h3>
    <img src="{{ url_for('static',filename='image/arjun.jpg') }}" style="cursor:pointer" id="one" onclick=bio1() width="100" height="100">
        </div>
        <div class="element">
    <h3>Blake Gardner</h3>
    <img src="{{ url_for('static',filename='image/blake.jpg') }}" style="cursor:pointer" id="two" onclick=bio2() width="100" height="100">
        </div>
        <div class="element">
    <h3>Rabia Khan</h3>
    <img src="{{ url_for('static',filename='image/rabia.jpg') }}" style="cursor:pointer" id="three" onclick=bio3() width="100" height="100">
        </div>
        <div class="element">
    <h3>Wenran Lu</h3>
    <img src="{{ url_for('static',filename='image/wenran.jpg') }}" style="cursor:pointer" id="four" onclick=bio4() width="100" height="100">

        </div>
        <div class="element">
    <h3>Yinghong Liu</h3>
    <img src="{{ url_for('static',filename='image/yinghong.jpg') }}" style="cursor:pointer" id="five" onclick=bio5() width="100" height="100">

        </div>
        <p id="p1">Click our avatars</p>
        <p id="p2">We will tell you more about our: </p>
        <p id="p3">responsibilities in this project</p>
        <p id="p4">personal bio</p>
        <p id="p5">github contributions</p>
        <p id="p6">and more</p>
    </div>

    <script>
        function bio1(){
            document.getElementById("p1").innerHTML = "bio: I am Arjun Singh";
            document.getElementById("p2").innerHTML = "major: ECE";
            document.getElementById("p3").innerHTML = "responsibilities: engagement metric, rating page, unit tests, Reddit data scraping";
            document.getElementById("p4").innerHTML = "commits: " + arjunC;
            document.getElementById("p5").innerHTML = "issues: " + arjun;
            document.getElementById("p6").innerHTML = "unit tests: 4";
            document.getElementById("one").style.opacity = 1;
            document.getElementById("two").style.opacity = 0.5;
            document.getElementById("three").style.opacity = 0.5;
            document.getElementById("four").style.opacity = 0.5;
            document.getElementById("five").style.opacity = 0.5;
        }

        function bio2(){
            document.getElementById("p1").innerHTML = "bio: I am an Electrical Engineering major at the University of Texas";
            document.getElementById("p2").innerHTML = "major: ECE";
            document.getElementById("p3").innerHTML = "responsibilities: MySQL database, data scraping (games), games page, GCP";
            document.getElementById("p4").innerHTML = "commits: " + blakeC;
            document.getElementById("p5").innerHTML = "issues: " + blake;
            document.getElementById("p6").innerHTML = "unit tests: 6";
            document.getElementById("one").style.opacity = 0.5;
            document.getElementById("two").style.opacity = 1;
            document.getElementById("three").style.opacity = 0.5;
            document.getElementById("four").style.opacity = 0.5;
            document.getElementById("five").style.opacity = 0.5;
        }

        function bio3(){
            document.getElementById("p1").innerHTML = "bio: When I am not coding, I like going hiking";
            document.getElementById("p2").innerHTML = "major: ECE";
            document.getElementById("p3").innerHTML = "responsibilities: user stories, data scraping (games), games page";
            document.getElementById("p4").innerHTML = "commits: " + rabiaC;
            document.getElementById("p5").innerHTML = "issues: "  + rabia;
            document.getElementById("p6").innerHTML = "unit tests: 0";
            document.getElementById("one").style.opacity = 0.5;
            document.getElementById("two").style.opacity = 0.5;
            document.getElementById("three").style.opacity = 1;
            document.getElementById("four").style.opacity = 0.5;
            document.getElementById("five").style.opacity = 0.5;
        }

        function bio4(){
            document.getElementById("p1").innerHTML = "bio: I am a good dog walker";
            document.getElementById("p2").innerHTML = "major: ECE";
            document.getElementById("p3").innerHTML = "responsibilities: about page, consoles page, compare page, unit tests, data scraping (consoles)";
            document.getElementById("p4").innerHTML = "commits: " + wenranC;
            document.getElementById("p5").innerHTML = "issues: " + wenran;
            document.getElementById("p6").innerHTML = "unit tests: 6";
            document.getElementById("one").style.opacity = 0.5;
            document.getElementById("two").style.opacity = 0.5;
            document.getElementById("three").style.opacity = 0.5;
            document.getElementById("four").style.opacity = 1;
            document.getElementById("five").style.opacity = 0.5;
        }

        function bio5(){
            document.getElementById("p1").innerHTML = "bio: I am Yinghong Liu";
            document.getElementById("p2").innerHTML = "major: ME";
            document.getElementById("p3").innerHTML = "responsibilities: home page, 15 static pages";
            document.getElementById("p4").innerHTML = "commits: " + yinghongC;
            document.getElementById("p5").innerHTML = "issues: " + yinghong;
            document.getElementById("p6").innerHTML = "unit tests: 0";
            document.getElementById("one").style.opacity = 0.5;
            document.getElementById("two").style.opacity = 0.5;
            document.getElementById("three").style.opacity = 0.5;
            document.getElementById("four").style.opacity = 0.5;
            document.getElementById("five").style.opacity = 1;
        }
    </script>
    <hr>
    <br>
    <div align="center">
    <table>
        <tr>
            <td style="padding:4px;vertical-align: top;">
                <div align="center" style="vertical-align: top;">
    <h3>Development Statistics</h3>
    <p class="smallerText" id="totalCommits">Total number of commits: </p>
    <p class="smallerText" id="totalIssues">Total number of issues: </p>
    <p class="smallerText">Total number of unit tests: ~16</p>
</div>
</td>
<td style="padding:4px;vertical-align: top;">
<div align="center" style="vertical-align: top">
    <h3>Data Sources</h3>
        <a class="smallerText" href = "https://www.nintendo.com">Nintendo Switch</a>
        <a class="smallerText" href = "https://www.xbox.com">XBOX</a>
        <a class="smallerText" href = "https://www.playstation.com">Play Station</a>
        <p class="smallerText">Scraped using Python and BeautifulSoup library</p>
    </div>
 </td>
 <td style="padding:4px;vertical-align: top;">
    <div align="center" style="vertical-align: top;">
    <h3>Development Tools</h3>
    <p class="smallerText">Flask used for microframework</p>
    <p class="smallerText">unittest used for Python unit tests</p>
    <p class="smallerText">MySQL used for backend database</p>
    <p class="smallerText">JQuery and Bootstrap used for front-end</p>
    <p class="smallerText">Selenium used to test user interface</p>
</div>
</td>
</tr>
</table>
    <br>
    <hr>
    <br>
    <h3>
        <a href = "https://github.com/ArjunSingh1/SoftwareLab.git">GitHub Repository</a>
    </h3>
    </div>
</body>
</html>
