<!DOCTYPE html>
<html lang = "en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>About</title>
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>

<div class="topnav">
  <a href="{{url_for('home')}}">Home</a>
  <a href="{{url_for('consoles')}}">Consoles</a>
  <a href="{{url_for('games')}}">Games</a>
  <a href="{{url_for('rating')}}">Rating</a>
  <a class="active" href="{{url_for('about')}}">About</a>
</div>

<div style="padding-left:16px" align="center">
    <h1>About us</h1>
    <br>
    <h2>Team Copper</h2>
    <br>
    <h3>Arjun Singh</h3>
    <img src="{{ url_for('static',filename='image/arjun.jpg') }}" width="100" height="100">
    <h4>bio: I am Arjun Singh</h4>
    <h4>major: ECE</h4>
    <h4>responsibilities: engagement metric, design </h4>
    <h4>commits: {{ data['arjun']}}</h4>
    <h4>issues: {{ stats['arjun'] }}</h4>
    <h4>unit tests: 4</h4>
    <h3>Blake Gardner</h3>
    <img src="{{ url_for('static',filename='image/blake.jpg') }}" width="100" height="100">
    <h4>bio: I am an Electrical Engineering major at the University of Texas</h4>
    <h4>major: ECE</h4>
    <h4>responsibilities: about page, unit tests, GCP</h4>
    <h4>commits: {{ data['blake']}}</h4>
    <h4>issues: {{ stats['blake'] }}</h4>
    <h4>unit tests: 6</h4>
    <h3>Rabia Khan</h3>
    <img src="{{ url_for('static',filename='image/rabia.jpg') }}" width="100" height="100">
    <h4>bio: When I am not coding, I like going hiking</h4>
    <h4>major: ECE</h4>
    <h4>responsibilities: project lead for phase I, user stories, data scraping</h4>
    <h4>commits: {{ data['rabia']}}</h4>
    <h4>issues: {{ stats['rabia'] }}</h4>
    <h4>unit tests: 0</h4>
    <h3>Yinghong Liu</h3>
    <img src="{{ url_for('static',filename='image/yinghong.jpg') }}" width="100" height="100">
    <h4>bio: I am Yinghong Liu</h4>
    <h4>major: ME</h4>
    <h4>responsibilities: 15 static pages on GCP</h4>
    <h4>commits: {{ data['yinghong']}}</h4>
    <h4>issues: {{ stats['yinghong'] }}</h4>
    <h4>unit tests: 0</h4>
    <h3>Wenran Lu</h3>
    <img src="{{ url_for('static',filename='image/wenran.jpg') }}" width="100" height="100">
    <h4>bio: I am a good dog walker</h4>
    <h4>major: ECE</h4>
    <h4>responsibilities: about page, unit tests</h4>
    <h4>commits: {{ data['wenran']}}</h4>
    <h4>issues: {{ stats['wenran'] }}</h4>
    <h4>unit tests: 6</h4>

    <h3>Development Statistics</h3>
    <p>Total number of commits: {{ data['total'] }}</p>
    <p>Total number of issues: {{ stats['total'] }}</p>
    <p>Total number of unit tests: ~16</p>
    <br>
    <h3>Data Sources</h3>
        <a href = "https://www.nintendo.com">Nintendo Switch</a>
        <p>scraped using Python and BeautifulSoup library</p>
        <a href = "https://www.xbox.com">XBOX</a>
        <p><p>scraped using Python and BeautifulSoup library</p>
        <a href = "https://www.playstation.com">Play Station</a>
        <p><p>scraped using Python and BeautifulSoup library</p>
    <br>
    <h3>Development Tools</h3>
    <p>Flask used for microframework</p>
    <p>unittest used for Python unit tests</p>
    <p>MySQL will be used for backend database</p>
    <p>Node.js will be used for RESTful API</p>
    <p>Angular will be used for front-end</p>
    <p>Postman will be used to test RESTful API</p>
    <p>Selenium will be used to test user interface</p>
    <br>
    <h3>
        <a href = "https://github.com/ArjunSingh1/SoftwareLab.git">GitHub Repository</a>
    </h3>
</div>

</body>
</html>
