{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Game Search
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='mystyles.css')}}">
{% endblock %}

{% block content %}
<div class="topnav">
    <a href="{{url_for('home')}}">Home</a>
    <a href="{{url_for('consoles')}}">Consoles</a>
    <a class= "active" href="{{url_for('index')}}">Search Games</a>
    <a href="{{url_for('rating')}}">Rating</a>
    <a href="{{url_for('about')}}">About</a>
</div>

<section class="hero">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div class="hero-inner">
        <h1>The Gamesquare Database</h1>
        <h2>Search from over 6500 games!</h2>
        <div class="center">
            <form method=post class="form" role="form">
                <div class="tb">
                  <div class="td">
                    {{ wtf.form_field(form.select, class="dropdown-primary") }}
                  </div>
                  <div class="td">
                    {{ wtf.form_field(form.search, placeholder="Enter a game title...") }}
                  </div>
                  <div class="td">
                      <button type="submit" class="btn btn-light">Search</button>
                    </button>
                    </div>
                </div>
            </form>
        </div> 
    </div>
</section>
{% endblock %}
